
<section  style="background:#efefe9;">
    
  <div class="container">
      
      <div class="b">
          
              <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div class="tab-pane fade in active">
                  <div class='row'>
                      <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                          <div class='row'>
                              <div class='col-xs-12 col-sm-6'>
                              <div class="form-group">
                                  <label class="control-label" for="firstname">First Name</label>  
                                  <input class="form-control input-md" #firstname="ngModel" required id="firstname" name="firstname" type="text" placeholder="First Name" [(ngModel)]="model.firstName">   
                                  <div class="alert alert-danger" [hidden]="firstname.valid">First Name is required</div>
                              </div>
                          </div>
                          <div class='col-xs-12 col-sm-6'>
                              <div class="form-group">
                                  <label class="control-label" for="lastname">Last Name</label>  
                                  <input class="form-control input-md" #lastname="ngModel" required id="lastname" name="lastname" type="text" placeholder="Last Name" [(ngModel)]="model.lastName">
                                  <div class="alert alert-danger"  [hidden]="lastname.valid">Last Name is required</div>
                              </div>
                          </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="date">Date of Birth</label>
                            <input class="form-control input-md" #age="ngModel" id="age" name="email" type="date" placeholder="age" [(ngModel)]="model.age">
                          
                        </div>
                      <div class="form-group">
                          <label class="control-label" for="email">Email</label>
                          <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="model.email">
                          <div class="alert alert-danger" [hidden]="email.valid">Email is required and must be valid</div>
                      </div>
                      
                      <div class="form-group">
                        <label class="control-label" for="newpassword">New Password</label>  
                        <input class="form-control input-md" #newpassword="ngModel" pattern=".{6,}" required id="newpassword" name="newpassword" type="password" placeholder="Create newpassword" [(ngModel)]="model.password">   
                        <div class="alert alert-danger" [hidden]="newpassword.valid">Password must be at least 6 characters long</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label" for="confirmnewPassword">Repeat newPassword</label>  
                      <input  class="form-control input-md" #confirmnewPassword="ngModel" required id="confirmnewPassword" name="confirmnewPassword" type="password" placeholder="Repeat newpassword" [(ngModel)]="model.confirmnewPassword">
                      <div class="alert alert-danger" *ngIf="newpassword.value!=confirmnewPassword.value">Password not match</div>
                  </div>
                  <div>
                    <label class="validation-message">{{msg}}</label>
                  </div>
                      <input type="submit" [disabled]="!form.valid || (newpassword.value!=confirmnewPassword.value)" class="btn btn-success btn-outline-rounded btn-info " value="confirm">
                    </div>
                  </div>
                </div>

              </form>  
              

          </div>
          <!-- End Content Area -->
      </div>

      
  
</section>