

<div class="container">
  <form [formGroup] = "settingForm"  (ngSubmit)="onSubmit()">
<!--username-->
<div>
<div hidden>
  <div>
    <label><b>User Name</b></label>
  </div>
  <div>
    <input class="form-control" type ="text" placeholder="current name" formControlName="name" >
    <!-- <button class="btn-edit" type="edit">Edit</button> -->
  </div>
<br>
</div>
<div>
  <div>
    <label><b>User Name </b></label>
  </div>
  <div>
    <input class="form-control" type ="text" placeholder="current name" formControlName="user_name" >
    <!-- <button class="btn-edit" type="edit">Edit</button> -->
  </div>
<br>
</div>

<!--email-->
<div>
  <div>
    <label><b>Email</b></label>
  </div>
  <div>
    <input class="form-control" type ="text"  placeholder="current email" formControlName="email" >
    <!-- <button class="btn-edit"type="edit">Edit</button> -->
  </div>
<br>
</div>
<!--password-->
<!-- <div>
  <div>
    <label><b>Password</b></label>
  </div>
  <div>
    <input class="form-control" type ="password"  placeholder="" formControlName="password"> -->
    <!-- <button class="btn-edit" type="edit">Edit</button> -->
  <!-- </div>
<br>
</div> -->
<!--school-->
<div>
  <div>
    <label><b>Studied</b></label>
    </div>
  <div>
    <input class="form-control" type ="text"  placeholder="current school" formControlName="studied">
    <!-- <button class="btn-edit" type="edit">Edit</button> -->
  </div>
<br>
</div>

<!--workplace-->
<div>
  <div>
    <label><b>Work Place</b></label>
  </div>
  <div>
    <input class="form-control" type ="text"  placeholder="current workplace" formControlName="work_place">
      <!-- <button class="btn-edit" type="edit">Edit</button> -->
  </div>
<br>
</div>
<div>
  <div>
    <label><b>Date of Birth</b></label>
  </div>
  <div>
    <input class="form-control date" type ="date" formControlName="age">
      <!-- <button class="btn-edit" type="edit">Edit</button> -->
  </div>
<br>
</div>
</div>

<button class="btn-primary" type="submit" *ngIf = "settingForm.valid">Save</button>
</form>
</div>

<router-outlet></router-outlet>
