<div class="container">
    <form>
<!--username-->
<div>
  <div>
    <div>
      <label><b>User Name</b></label>
    </div>
    <div>
      <input class="form-control" type ="text" name="name" placeholder="current name">
      <button class="btn-edit" type="edit">Edit</button>
    </div>
<br>
</div>

<!--email-->
  <div>
    <div>
      <label><b>Email</b></label>
    </div>
    <div>
      <input class="form-control" type ="text" name="email" placeholder="current email">
      <button class="btn-edit"type="edit">Edit</button>
    </div>
<br>
  </div>
<!--password-->
  <div>
    <div>
      <label><b>Password</b></label>
    </div>
    <div>
      <input class="form-control" type ="password" name="password" placeholder="">
      <button class="btn-edit" type="edit">Edit</button>
    </div>
  <br>
  </div>
<!--school-->
  <div>
    <div>
      <label><b>Studied</b></label>
      </div>
    <div>
      <input class="form-control" type ="text" name="school" placeholder="current school">
      <button class="btn-edit" type="edit">Edit</button>
    </div>
<br>
  </div>

<!--workplace-->
  <div>
    <div>
      <label><b>Work Place</b></label>
    </div>
    <div>
      <input class="form-control" type ="text" name="name" placeholder="current workplace">
        <button class="btn-edit" type="edit">Edit</button>
    </div>
  <br>
  </div>
</div>

<button class="btn-primary" type="submit">Save</button>
</form>
</div>
<router-outlet></router-outlet>
