<!DOCTYPE html>
<html>
<head>
<title>Search</title>
<style>
table, th, td {
  border: 1px solid black;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
form{

width:1000px;
margin:auto;
margin-top:120px;
}
.search{
width:80%;
padding:10px;
font-size:20px;
}
.submit{
width:15%;
padding:10px;
font-size:20px;
background-color:#333399;
color:white;
}
</style>
</head>

<body>
  <div class="container">
<form>
  <label><h2 title="Enter your interested field to search">Enter interested field</h2></label><br>
  <input type="text" name="text" class="search" placeholder="Search Here">
  <input type="submit" name="submit" class="submit" value="Search">

  <label><h2 title="Enter the rates you wish to search above in range of 1 to 5">Enter interested rates</h2></label><br>
  <input type="text" name="text" class="search" placeholder="Search Here">
  <input type="submit" name="submit" class="submit" value="Search">

  <label><h2 title="Enter your interested district to search">Enter interested district</h2></label><br>
  
  <select id="district" name="district" class="search">
      <option value="ampara">Ampara</option>
      <option value="anuradhapura">Anuradhapura</option>
      <option value="badulla">Badulla</option>
      <option value="batticaloa">Batticaloa</option>
      <option value="colombo">Colombo</option>
      <option value="galle">Galle</option>
      <option value="gampaha">Gampaha</option>
      <option value="hambantota">Hambantota</option>
      <option value="jaffna">Jaffna</option>
      <option value="kalutara">Kalutara</option>
      <option value="kandy">Kandy</option>
      <option value="kegalle">Kegalle</option>
      <option value="killinochchi">Killinochchi</option>
      <option value="kurunegala">Kurunegala</option>
      <option value="mannar">Mannar</option>
      <option value="matale">Matale</option>
      <option value="matara">Matara</option>
      <option value="monaragala">Monaragala</option>
      <option value="mullaitivu">Mullaitivu</option>
      <option value="nuwaraeliya">Nuwara Eliya</option>
      <option value="polonnaruwa">Polonnaruwa</option>
      <option value="puttalam">Puttalam</option>
      <option value="ratnapura">Ratnapura</option>
      <option value="trincomalee">Trincomalee</option>
      <option value="vavuniya">Vavuniya</option>
        
    </select>
  <input type="submit" name="submit" class="submit" value="Search">
  
</form>
</div>
<br><br>
<table style="width:70%" align="center">
  <tr>
    <th><h3>User name</h3></th>
    <th><h3>Comment</h3></th> 
    <th><h3>Rate</h3></th>
  </tr>
    <td>  data</td>
    <td>  data</td>
    <td>  data</td>
  </table>
</body>
</html>

